<svg width="61px" height="61px" viewBox="0 0 61 61" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.1 (8751) - http://www.bohemiancoding.com/sketch -->
    <title>Fill 2646 + Fill 2647</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Fill-2646-+-Fill-2647" sketch:type="MSLayerGroup" fill="#1B1A19">
            <path d="M30.029,58.04 C14.59,58.04 2.029,45.48 2.029,30.041 C2.029,14.601 14.59,2.04 30.029,2.04 C45.469,2.04 58.029,14.601 58.029,30.041 C58.029,45.48 45.469,58.04 30.029,58.04 L30.029,58.04 Z M30.029,0.041 C13.487,0.041 0.029,13.5 0.029,30.041 C0.029,46.58 13.487,60.041 30.029,60.041 C46.571,60.041 60.029,46.58 60.029,30.041 C60.029,13.5 46.571,0.041 30.029,0.041 L30.029,0.041 Z" id="Fill-2646" sketch:type="MSShapeGroup"></path>
            <path d="M30.029,43.92 C25.95,40.83 17.16,33.041 17.16,27.61 C17.16,23.44 20.143,20.95 23.027,20.95 C25.895,20.95 28.149,23.211 29.057,26.98 C29.165,27.43 29.567,27.75 30.029,27.75 C30.492,27.75 30.894,27.43 31.002,26.98 C31.91,23.211 34.164,20.95 37.031,20.95 C39.916,20.95 42.899,23.44 42.899,27.61 C42.899,33.041 34.108,40.83 30.029,43.92 L30.029,43.92 Z M37.031,18.95 C34.61,18.95 31.738,20.27 30.029,23.76 C28.32,20.27 25.448,18.95 23.027,18.95 C19.16,18.95 15.16,22.19 15.16,27.61 C15.16,35.5 28.858,45.551 29.441,45.98 C29.617,46.101 29.823,46.17 30.029,46.17 C30.236,46.17 30.442,46.101 30.618,45.98 C31.201,45.551 44.899,35.5 44.899,27.61 C44.899,22.19 40.898,18.95 37.031,18.95 L37.031,18.95 Z" id="Fill-2647" sketch:type="MSShapeGroup"></path>
        </g>
    </g>
</svg>