<svg width="61px" height="61px" viewBox="0 0 61 61" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.1 (8751) - http://www.bohemiancoding.com/sketch -->
    <title>Fill 1491 + Fill 1492 + Fill 1493</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Fill-1491-+-Fill-1492-+-Fill-1493" sketch:type="MSLayerGroup" fill="#1B1A19">
            <path d="M35.679,31.8 C35.373,32.07 35.257,32.491 35.385,32.88 L38.155,41.19 L30.629,35.541 C30.274,35.28 29.785,35.28 29.429,35.541 L21.903,41.19 L24.673,32.88 C24.801,32.491 24.685,32.07 24.379,31.8 L17.714,26.04 L26.029,26.04 C26.454,26.04 26.832,25.771 26.973,25.371 L30.029,16.67 L33.086,25.371 C33.227,25.771 33.604,26.04 34.029,26.04 L42.345,26.04 L35.679,31.8 L35.679,31.8 Z M45.966,24.69 C45.821,24.3 45.447,24.04 45.029,24.04 L34.738,24.04 L30.973,13.32 C30.832,12.92 30.454,12.65 30.029,12.65 C29.604,12.65 29.227,12.92 29.086,13.32 L25.321,24.04 L15.029,24.04 C14.612,24.04 14.238,24.3 14.092,24.69 C13.946,25.08 14.059,25.521 14.375,25.791 L22.565,32.88 L18.994,43.59 C18.855,44.01 19.003,44.46 19.358,44.72 C19.532,44.84 19.737,44.91 19.942,44.91 C20.154,44.91 20.365,44.84 20.543,44.71 L30.029,37.59 L39.516,44.71 C39.866,44.971 40.346,44.971 40.701,44.72 C41.056,44.46 41.203,44.01 41.065,43.59 L37.494,32.88 L45.684,25.791 C46,25.521 46.112,25.08 45.966,24.69 L45.966,24.69 Z" id="Fill-1491" sketch:type="MSShapeGroup"></path>
            <path d="M30.029,58.041 C14.59,58.041 2.029,45.48 2.029,30.04 C2.029,14.601 14.59,2.04 30.029,2.04 C45.469,2.04 58.029,14.601 58.029,30.04 C58.029,45.48 45.469,58.041 30.029,58.041 L30.029,58.041 Z M30.029,0.04 C13.487,0.04 0.029,13.5 0.029,30.04 C0.029,46.581 13.487,60.04 30.029,60.04 C46.571,60.04 60.029,46.581 60.029,30.04 C60.029,13.5 46.571,0.04 30.029,0.04 L30.029,0.04 Z" id="Fill-1492" sketch:type="MSShapeGroup"></path>
            <path d="M30.029,50.471 C18.762,50.471 9.595,41.31 9.595,30.04 C9.595,18.771 18.762,9.6 30.029,9.6 C41.297,9.6 50.464,18.771 50.464,30.04 C50.464,41.31 41.297,50.471 30.029,50.471 L30.029,50.471 Z M30.029,7.601 C17.659,7.601 7.595,17.67 7.595,30.04 C7.595,42.41 17.659,52.471 30.029,52.471 C42.4,52.471 52.464,42.41 52.464,30.04 C52.464,17.67 42.4,7.601 30.029,7.601 L30.029,7.601 Z" id="Fill-1493" sketch:type="MSShapeGroup"></path>
        </g>
    </g>
</svg>