<div class="row">
  <div class="large-6 large-centered columns unlock">
    <!-- <h1>Enter your unlock code.</h1> -->
    <h1>Punch in your code to start brewing delicious coffee.</h1>
    <%= simple_form_for :code, url: '/validate' do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.text_field :unlock_code %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Unlock" %>
      </div>
    <% end %>
  </div>
</div>