<div id="large-header">
  <div class="row">
    <h1>Learn by doing.</h1>
    <div class="divider"></div>
    <h3>All the tools you need to create something awesome, </br> delivered to your door.</h3>
  </div>
</div>
<div class="row how-it-works">
  <div class="large-4 columns step">
    <h3>Pick your box</h3>
    <div class="image"></div>
    <p>Choose from our awesome boxes and we'll deliver it right to your door.</p>
  </div>
  <div class="large-4 columns step">
    <h3>Pick your box</h3>
    <div class="image"></div>
    <p>Choose from our awesome boxes and we'll deliver it right to your door.</p>
  </div>
  <div class="large-4 columns step">
    <h3>Pick your box</h3>
    <div class="image"></div>
    <p>Choose from our awesome boxes and we'll deliver it right to your door.</p>
  </div>
</div>