<div id="large-header">
  <div class="dark-overlay">
    <div class="row">
      <div class="large-6 small-12 columns large-centered hero-container">
        <h1>Learn by doing.</h1>
        <div class="divider"></div>
        <h3>All the tools you need to create something awesome, </br> delivered to your door.</h3>
        <button class="md-trigger" data-id="2">
           Watch How
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row how-it-works">
  <div class="large-4 medium-4 columns step">
    <h3>Pick your box</h3>
    <div class="image"></div>
    <p>Choose from our awesome boxes and we'll deliver it right to your door.</p>
  </div>
  <div class="large-4 medium-4 columns step">
    <h3>Pick your box</h3>
    <div class="image"></div>
    <p>Choose from our awesome boxes and we'll deliver it right to your door.</p>
  </div>
  <div class="large-4 medium-4 columns step">
    <h3>Pick your box</h3>
    <div class="image"></div>
    <p>Choose from our awesome boxes and we'll deliver it right to your door.</p>
  </div>
</div>
<div class="row whats-in-the-box">
</div>
<div class="row available-boxes">
</div>
<div class="box-teaser">
</div>
<div class="photo-grid">
</div>
<div class="box-photo">
</div>
<div class="get-started">
</div>

<!-- Video Modal -->
<div class="md-modal md-effect video-modal" id="modal-4" data-id="2">
  <div class="md-content">
    <div class="clearfix">
      <i class="md-close"></i>
      <div class="video">
        <iframe width="400" height="245" src="//www.youtube.com/embed/UxRrhYVT1Sw" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="button-wrapper clearfix">
        <h3>Like what you see?</h3>
        <h4>Sign in to checkout our courses.</h4>
        <button class="btn btn-7 btn-7a twitter">Connect Twitter</button>
        <%# button_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
        <button class="btn btn-7 btn-7a register">Email Signup</button>
      </div>
    </div>
  </div>
</div>