<div id="large-header">
  <div class="dark-overlay">
    <div class="row">
      <div class="large-9 small-12 columns large-centered hero-container">
        <h1>Learn by doing.</h1>
        <div class="divider"></div>
        <!-- <h3>Fully loaded kits that help you master new skills,</br> delivered to your door.</h3> -->
        <h3>Curated tools and expert videos in one beautiful box.</h3>
        <button class="md-trigger" data-id="2">
           Watch How
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row full-width headline">
  <div class="large-12 columns centered">
    <p>The best way to learn something is by actually doing it.</p>
  </div>
</div>
<div class="row full-width box-list">
  <div class="large-6 medium-6 small-12 whats-in-the-box columns">
    <h1>What's in the box?</h1>
    <div class="divider"></div>
    <ul class="large-block-grid-1 medium-block-grid-1 small-block-grid-1 clearfix">
      <li class="clearfix">
        <%= render 'svgs/box'%>
        <div class="box-item-wrapper">
          <h3>The Tools</h3>
          <p>A complete kit of everything you need for a fun, interesting project -- designed by real experts. Our coffee box includes a specialized kettle, ceramic dripper, and much more.</p>
        </div>
      </li>
      <li>
        <%= render 'svgs/instructor'%>
        <div class="box-item-wrapper">
          <h3>Expert-led Instructional Videos</h3>
          <p>No instruction manuals here. Bonsai boxes come with expert-led, short videos that show you all the tricks and tips you need.</p>
        </div>
      </li>
      <li>
        <%= render 'svgs/heart'%>
        <div class="box-item-wrapper">
          <h3>Amazing Customer Support</h3>
          <p>Anything you need, any question, any problem, we are here, 24/7. The only thing Bonsai loves more than trying something new, is you.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="large-6 medium-6 small-12 instructor columns">
    <%= render 'svgs/play'%>
    <div class="instructor-info">
      <p>Josh Littlefield</p>
      <p>Director of Education, Irving Farms Coffee</p>
      <p>Instructor for the Bonsai Coffee Brewing box</p>
    </div>
  </div>
</div>

<div class="row full-width featured-box">
  <h1>Irving Farms Pour Over Coffee Brewing Box</h1>
  <div class="divider"></div>
  <p>Brew the perfect cup of coffee at home with an interactive kit, expert videos from Irving Farm Coffee Roasters, and single origin Guadalupe coffee from El Salvador.</p>
  <a href="/products/coffee-box">View Box</a>
</div>
<div class="row full-width testimonials">
      <h2 class="centered-text">See what these awesome people have to say!</h2>
      <div class="large-4 columns testimonial">
            <div class="quote">
              <p>I love coffee, but it’s way more fun to know how to make it at home the way pros do. It’s fun and a bit challenging. The coffee is super good too.</p>
            </div>
            <div class="student">
              <div class="photo jerome"> </div>
              <p>Jerome Tufte</p>
              <p>Brooklyn, NY</p>
            </div>
      </div>
      <div class="large-4 columns testimonial">
        <div class="quote">
          <p>I’m just waiting for whatever boxes you come out with next. The coffee box was awesome, I gave it to my brother, then got one for me too :)</p>
        </div>
        <div class="student">
          <div class="photo katie"> </div>
          <p>Katie Brehm</p>
          <p>High School Teacher</p>
        </div>
      </div>
      <div class="large-4 columns testimonial">
        <div class="quote">
          <p>Yep I loved it! It was the perfect Saturday morning project. I def want to try more too. Thanks!</p>
        </div>
        <div class="student">
          <div class="photo jonathan"> </div>
          <p>Jonathan Byrd</p>
          <p>Oklahoma City</p>
        </div>
      </div>
</div>
<div class="row how-it-works">
  <div class="large-4 medium-4 columns step">
    <!-- Image Here -->
    <h3>Pick your box</h3>
    <p>Choose from our awesome boxes and we'll deliver it right to your door.</p>
  </div>
  <div class="large-4 medium-4 columns step">
    <!-- Image Here -->
    <h3>Pick your box</h3>
    <p>Choose from our awesome boxes and we'll deliver it right to your door.</p>
  </div>
  <div class="large-4 medium-4 columns step">
    <!-- Image Here -->
    <h3>Pick your box</h3>
    <p>Choose from our awesome boxes and we'll deliver it right to your door.</p>
  </div>
</div>

<div class="row get-started">
  <div class="large-12 small-12 columns">
    <h1>Ready to get started?</h1>
    <h3>View all of our available boxes now.</h3>
    <form action="/products">
      <button>View Boxes</button>
    </form>
  </div>
</div>

<!-- Video Modal -->
<div class="md-modal md-effect video-modal" id="modal-4" data-id="2">
  <div class="md-content">
    <div class="clearfix">
      <i class="md-close"></i>
      <div class="video">
        <iframe width="400" height="245" src="//www.youtube.com/embed/UxRrhYVT1Sw?enablejsapi=1&version=3&playerapiid=ytplayer" id="preview-video" frameborder="0" allowfullscreen ></iframe>
      </div>
      <div class="button-wrapper clearfix">
        <h3>Like what you see?</h3>
        <h4>Check out our featured box.</h4>
        <a class="box-link" href="/products/coffee-box">View Coffee Box</a>
        <!-- <button class="btn btn-7 btn-7a twitter">Connect Twitter</button> -->
        <%# button_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
      </div>
    </div>
  </div>
</div>