<div class="mission-page">
  <div class="row">
    <div class="large-12 columns">
      <h2>The World’s Most Interesting Skills and Projects</h2>
      <p>Bonsai is on a mission to make the world’s most interesting, fun, and unique skills available to everyone along with knowledge from real experts. We pack our boxes with the best tools and supplies for an interesting project, from brewing coffee to building robots, and we partner with credible experts to produce short videos that skillfully guide you through the project. We envision someday having projects as diverse as crafting ancient Kyoto-style sushi knives to brewing pale ale available through Bonsai.

      We’re starting with the perfect cup of coffee. Why? Because a year ago, the founder of Bonsai wanted to learn to make perfect coffee at home. And he was faced with a never ending stream of crappy blogs, busted YouTube videos, and expensive random goods from Amazon. Bonsai solves all that by seamlessly combining the goods and guidance you need to learn something interesting.</p>
    </div>
  </div>
</div>