<div class="team-page">
  <div class="row">
    <div class="large-12 columns">
      <h2>We are our own customers</h2>
      <p>Sonny and Zach (with a lot of help from many good friends) started Bonsai somewhat selfishly, to learn how to do fun and interesting things by hand, with the right tools and lessons from verified experts. They have been working on Bonsai for over a year, with a lot of other projects along the way, like VinylLoop.com, designing great products with the pros at Prehype.com, and designing and coding at SeatGeek.com.</p>
    </div>
  </div>
</div>