@import 'colors';

#admin-bar {
  padding: 10px;
  background: $admin-bar;
  color: $admin-bar-text;
  top: 0;
  left: 0;
  width: 100%;

  ul {
    list-style: none;
    margin: 0;

    li {
      float: left;
      padding: 0 10px;
      font-size: .8em;

      a {
        color: $admin-bar-text;

        &:hover {
          color: #fff;
        }
      }
    }

    li.nav-right {
      float: right;
    }

    li.nav-left {
      float: left;
    }
  }
}