/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'reset'
 *= require 'fonts'
 *= require 'icons'
 *= require 'framework_and_overrides'
 *= require 'responsive-nav'
 *= require 'navigation'
 *= require 'modal'
 *= require 'landing'
 *= require 'login'
 *= require 'cart'
 *= require 'catalogue'
 *= require 'sweet-alert'
 *= require 'admin'
 *= require 'products'
 *= require 'courses'
 *= require 'secondary-nav'
 *= require 'footer'
 *= require 'unlock'
 *= require 'dashboard'
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "colors";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Merriweather:400,300,700);

body {
  background: $bg;
}

main {
  padding: 0;
  height: 100%;
  background: $bg;
  min-height: 500px;
  // background: #f7f7f7;
  // use #E6E6E6 borders
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

html, body {height: 100%;}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -250px;
}

.page-wrap:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  height: 250px;
}

footer {
  // position: relative;
  // top: -250px; /* negative value of footer height */
  // height: 250px;
  // clear:both;
}



