@import 'mixins';

.box-page main {
  background: #F4F3F1;
  padding-bottom: 20px;

  .large-12 {
    background: #fff;
  }

  .left-wrapper {
    margin: 0;
    padding: 0;
  }

  h3, h4 {
    font-family: "Brandon-Grotesque";
  }

  p, ul, li {
    font-family: "Lato";
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 26px;
  }

  .check-out {
    margin: 10px 0;
    background: #3D938C;
    background: #E85C41;
    //border: 1px solid #133734;
    border-radius: 3px;
    font-family: "Lato";
    color: #fff;
    text-decoration: none;
    display: block;
    padding: inherit;
    width: 100%;
    height: 55px;
    font-size: 16px;

    &:active {
      outline: none;
      background: #C94E36;
    }
  }

  .box-section {
    padding: 0;
    min-height: 300px;
    position: relative;
  }

  .box-hero {
    margin-top: 20px;
    padding: 0;
    height: 450px;
    // background:
    //     /* top, transparent red */
    //     linear-gradient(
    //       rgba(0, 0, 0, 0.1),
    //       rgba(0, 0, 0, 0.2)
    //     ),
    //     /* bottom, image */
    //     image-url('sonny-2.jpg');
    // background-size: cover;
  }

  .media-wrapper {
    padding-right: 10px;
    background: #fff;
  }

  .box-media {
    padding: 0;
    padding-right: 10px;
    // background:
    //     /* top, transparent red */
    //     linear-gradient(
    //       rgba(0, 0, 0, 0.1),
    //       rgba(0, 0, 0, 0.2)
    //     ),
    //     /* bottom, image */
    //     image-url('sonny-2.jpg');
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     background-position: 50%, 50%;

    .box-video-wrapper {
      margin: 0;
      border: 1px solid #ddd;
    }
  }

  .box-info {
    padding: 10px 15px 10px 18px;
    background: #fff;
    border: 1px solid #ddd;

    &.locked {
      position: fixed;
      top: 15px;
      width: 332px;
      margin-left: 667px !important;
      z-index: 1000;
    }

    h3 {
      font-family: "Brandon-Grotesque";
    }

    p {
      font-family: "Lato";
      font-size: 16px;
      letter-spacing: .5px;
      line-height: 26px;
      color: #444444;
    }

    strike {
      padding-right: 5px;
    }

    span {
      padding: 5px 0;
    }


    .product-variant {
      background: #f7f7f7;
      border: 1px solid #eee;
      padding: 5px 5px 5px 15px;
      position: relative;
      cursor: pointer;

      span {
        display: block;
        font-family: "Lato";
        padding: 17px;
        float: left;
      }

      input {
        @include vertical-align;
        position: absolute;
      }

      .variant-info {
        float: left;
        width: 200px;
      }

      .price {
        @include vertical-align;
        position: absolute;
        font-size: 20px;
      }

      .input-wrapper {
        height: 55px;
        float: left;
        position: relative;
        width: 15px;
      }

      .price-wrapper {
        height: 55px;
        width: 60px;
        float: right;
        position: relative;
      }
    }

    .product-variant:nth-child(2) {
      border-radius: 4px 4px 0 0;
      border-bottom: none;
    }

    .product-variant:nth-child(4) {
      border-radius: 0 0 4px 4px;
      border-top: none;
    }

  }

  .divider {
    border-top: 3px solid #333;
    width: 30%;
    margin: 20px 0;
  }

  .box-video-wrapper {
    //margin-top: 20px;
  }


  .box-video {
    padding: 10% 0 0 0;
  }

  .box-video-info {
    padding: 25px;

    ul {

    }

    li {
      list-style-type: disc;
      padding: 8px 0;
    }


  }

  .why-help-wrapper {
  }

  .box-photo {
    padding: 10% 20px 20px 20px;
  }

  .why-help {
    padding: 20px;
  }

  .why-this-box-wrapper {

  }

  .instructor-wrapper {
    padding: 20px;
  }

  .instructor {

  }

  .instruction-description {

  }

  .faq {
    min-height: auto;
  }

  .question {
    padding: 30px;
    background: #fff;

    .question-wrapper {
      margin: 0 auto;
      width: 220px;

    }

    li {
      list-style-type: disc;
      line-height: 35px;
      font-family: "Lato";
    }
  }

  .why-this-box {
    padding: 20px;
  }

  .box-photo {
    padding: 20px;
  }

  .lets-do-this {
    text-align: center;
    padding: 50px;
    min-height: auto;

    h3 {
      padding: 15px;
    }

    .md-trigger {
      padding-top: 10px;
      display: block;
    }
  }

    .ingredient {
      padding: 0px;
      background: #fff;

      img {

      }
    }

    .ingredient-description {
      padding: 12px;
    }

    .ingredient-description h4 {

    }

    .ingredient-description p {
      font-family: "Lato";
      font-size: 13px;
    }


    @media only screen and (min-width: 40.063em) and (max-width: 64em) {
      .box-info.locked {
        width: 100%;
        left: 0;
        position: inherit;
        margin-left: 0 !important;
      }
    }

    @media only screen and (max-width: 40em) {
      .box-info.locked {
        width: 100%;
        left: 0;
        position: inherit;
        margin-left: 0 !important;
      }
    }

    @media (max-height: 575px) {
      .box-info.locked h3 {
        font-size: 19px;
      }

      .box-info.locked p {
        display: none;
      }

      .box-info.locked .divider {
        display: none;
      }
    }

    @media (max-height: 300px) {
      .box-info.locked h3 {
        display: none;
      }
    }



}

