@import 'mixins';
@import 'colors';

.cart {
  margin-top: 25px;
  border: none;

  tr, td, thead {
  }

  thead:nth-child(1) {
    border-bottom: 1px solid #ccc;
  }

  tfoot {
    tr td:first-child {
      text-align: right;
    }
  }
}

.cart-buttons {
  a {
    float: right;
    padding: 10px 20px;
    background: #5D7082;
    color: #fff;
    margin: 5px;
  }
}