@import 'mixins';
@import 'fonts';
@import 'colors';

.catalogue-page {
  background: #f7f8f9;
}

.catalogue {
  background: #f7f8f9;
  #large-header {
    height: 340px !important;
    background: image-url("banner2.jpg");

    .dark-overlay {
      // background: rgba(0, 0, 0, 0.36);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.05) 5%, rgba(0, 0, 0, 0.5) 65%, rgba(0, 0, 0, 0.7) 100%)
    }
  }

  .products {
    background: #f7f8f9;
  }

  .products .catalogue-product {
    height: 250px;
    padding: 0;
    text-align: center;
  }

  .products .product-wrapper {

    .product-info {
      @include vertical-align;
    }

  }


}