$nordic: #21393E;
$ziggurat: #89A7AD;
$lilyWhite: #E4EBEC;
$submarine: #87969B;
$twitter: #33C6F4;
$greenButton: #A2C160;
$forestGreen: #73B081;
$blue: #369CD9;
//$bg: #F8F7F5;
$bg: #F4F5F6;
$admin-bar: #191919;
$admin-bar-text: #808080;