// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Course Page Styles
.course-show-page {
  .wrap, main {
    background: #fff;
  }

  main {
    padding: 0;
  }
}


.course-page {

  #wrapper {
    padding-left: 300px;
    transition: all 0.4s ease 0s;
  }

  .video-container {
    background: #eee;
  }

  .video-container, .description-container {
    min-height: 450px;
    color: #202020;
    margin-bottom: 20px;

    h1 {

    }
  }

  .description-container {
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 1px;

    h3 {
      font-weight: 700;
      font-size: 36px;
    }

    p {
      color: #484848;
      font-family: "Lato";
      font-size: 15px;
      line-height: 27px;
    }
  }

  #sidebar-wrapper {
    margin-left: -300px;
    left: 300px;
    width: 300px;
    background: #fff;
    border-right: 1px solid #ddd;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
  }

  #page-content-wrapper {
    width: 100%;
  }

  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sidebar-nav li {

    font-family: "Lato";
    font-weight: 400;
    letter-spacing: .5px;
    border-bottom: 1px solid #ddd;
    padding: 15px 20px;

    .course-name {
      color: #7ABB3A;
      display: block;
      font-size: 11px;
    }

    .lesson-name {
      color: #020202;
      display: block;
      font-size: 20px;
      padding: 5px 0;
    }

    p {
      color: #747474;
      font-size: 13px;
      line-height: 22px;
      padding: 5px 0;
      margin: 0;
    }

    &:last-of-type {
      //border-bottom: none;
    }
  }

  @media (max-width:767px) {

      #wrapper {
        padding-left: 0;
      }

      #sidebar-wrapper {
        left: 0;
      }

      #wrapper.active {
        position: relative;
        left: 300px;
      }

      #wrapper.active #sidebar-wrapper {
        left: 300px;
        width: 300px;
        transition: all 0.4s ease 0s;
      }

  }
}