@import 'mixins';

.dashboard-page {
  padding: 20px;

  .catalogue-product {
    @include product-card;
  }

  .catalogue-product .product-image.coffee {
    background: image-url('box-shot.jpg');
    background-size: cover;
  }

}