@import 'colors';
@import 'mixins';
@import 'fonts';
/* Header */
// Todo: convert to ems so text resizes automatically
#large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  max-height: 500px !important;
  z-index: 1;
  border-top: 1px solid #1B1C1C;

  .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.05) 5%, rgba(0, 0, 0, 0.5) 65%, rgba(0, 0, 0, 0.7) 100%);
    text-align: left;
  }

  .row {
    position: relative;
    text-align: center;
    height: 100%;
  }

  .hero-container {
    @include vertical-align;
    text-align: center;

    h1 {
      margin: 0;
      padding: 15px 0;
      font-family: "Lato", sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 2px;
      font-weight: 300;
    }

    h3 {
      padding: 15px 0;
      line-height: 35px;
      font-family: "Merriweather", sans-serif;
      margin: 0;
      font-size: 50px;
      line-height: 60px;
    }

    p {
      margin: 0;
      padding: 0;
    }

    button, .view-boxes {
      margin: 10px 0;
      background: #3D938C;
      background: #E85C41;
      border: 1px solid #133734;
      border-radius: 3px;
      font-family: $lato;
      color: #fff;
      text-decoration: none;
      padding-top: 1rem;
      padding-right: 2rem;
      padding-bottom: 1.0625rem;
      padding-left: 2rem;
    }

    .go-to-box {
      color: #fff;
      opacity: .8;
      display: block;
      text-decoration: underline;
    }

    .view-boxes {
      display: inline-block;
    }
  }

  h1 {
    text-align: center;
    font-size: 60px;
    color: #fff;
    padding: 15px 15px 0px 15px;
  }

  .divider {
    border-bottom: 1px solid #fff;
    width: 80px;
    margin: 0 auto;
  }

  h3 {
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    line-height: 1.8rem;
  }

  button {
    background: $nordic;
    border: 1px solid $nordic;
    border-radius: 50px;
    outline: none;
  }

  // .center-wrapper {
  //   position: absolute;
  //   top: 54%;
  //   left: 50%;

  //   button {
  //     background: #A2C160;
  //     border: 1px solid #728D3B;
  //     border-radius: 50px;
  //     outline: none;
  //     position: relative;
  //     left: -50%;
  //   }
  // }
}

#large-header {
  background-image: image-url("elepath.jpg");
  background: image-url("coffee-counter.jpg");
  background: image-url("sonny-2.jpg");
  background-position: 50% 85% !important;
}

@media (max-width:767px) {
  #large-header {
    //background: image-url("elepath.jpg");
  }
}

.headline {
  padding: 20px;
  background: #37B8B7;
  text-align: center;
  padding: 30px;

  p {
    font-family: "Lato";
    font-family: "Brandon-Grotesque";
    font-size: 24px;
    color: #fff;
    margin: 0;
  }
}

.box-list {
  .columns {
    padding: 30px;
    max-width: auto;
    min-height: 497px;
  }

  .whats-in-the-box {
    background: #0C4057;
    background: #072B48;
    text-align: center;

    h1 {
      font-family: "Raleway";
      text-decoration: uppercase;
      letter-spacing: 2px;
      color: #fff;
      font-size: 18px;
      padding: 0 0 10px 0;
    }

    .divider {
      border-bottom: 1px solid #fff;
      width: 80px;
      margin: 0 auto;
    }

    p {
      font-family: "Lato";
      line-height: 20px;
      font-size: 12px;
      color: #FFFFFF;
    }

    ul {
      margin: 0 auto;
      padding: 15px;
    }

    li {
      text-align: left;
      position: relative;
      height:  120px;
    }

    li .box-item-wrapper {
      padding-left: 14%;
    }

    li h3 {
      color: #fff;
      font-family: Lato;
      font-size: 14px;
      color: #FFFFFF;
      line-height: 18px;
      letter-spacing: 1px;
      font-weight: 600;
    }

    li p  {
      font-family: Lato;
      font-size: 14px;
      color: #A2B1BD;
      line-height: 27px;
      font-weight: 300;
    }

    svg {
      height: 40px;
      width: 40px;
      float: left;
      @include vertical-align;
    }

    svg g g {
      fill: #fff;
    }
  }

  .instructor {
    background: image-url('josh-green.png');
    background-size: cover;
    background-position-x: 50%;
    position: relative;
    text-align: center;

    svg {
      cursor: pointer;
      height: 110px;
      width: 110px;
      position: relative;
      top: 180px;

      g {
        fill: #fff;
      }
    }

    .instructor-info {
      position: absolute;
      top: 6%;
      left: 6%;
      text-align: left;
    }

    .instructor-info p {
      color: #1B655F;
      margin: 0;
      font-family: "Lato";
      font-size: 11px;
    }
  }
}

.how-it-works {
  display: none;
  .step {
    background: #fff;
    height: 300px;
    text-align: center;
    padding: 35px 25px 25px 25px;
  }
  h3 {
    font-family: "Lato", sans-serif;
    color: #44555F;
    font-size: 1.2rem;
    margin-top: 30px;
  }
  p {
    font-family: "Lato", sans-serif;
    color: #99A7B0;
  }
  .image {
    background: image-url("icon-1.png");
    height: 200px;
    width: 300px;
    margin: 0 auto;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.featured-box {
  background: #EEF5F8;
  text-align: center;
  padding: 20px;
  min-height: 450px;
  background-image: image-url('box-spread.jpg');
  background:
      /* top, transparent red */
      linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.8)
      ),
      /* bottom, image */
      image-url('box-spread.jpg');
  background-size: cover;
  background-position-x: 50%;
  position: relative;

  h1 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    //color: #074058;
    line-height: 29px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 15px;
  }

  .divider {
    border-bottom: 1px solid #fff;
    width: 70px;
    margin: 0 auto;
  }

  p {
    font-family: "Lato";
    font-weight: 400;
    font-size: 18px;
    color: #fff; //#fff;
    line-height: 40px;
    letter-spacing: 1px;
    max-width: 660px;
    margin: 0 auto;
    padding: 40px 0 0 0;
  }

  a {
    border-radius: 50px;
    padding: 17px 45px;;
    background: #074058;
    margin: 0 auto;
    font-family: "Raleway";
    font-size: 13px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
  }

}

.home-products {
  .catalogue-product {
    @include product-card;
  }

  .catalogue-product .product-image.coffee {
    background: image-url('box-shot.jpg');
    background-size: cover;
  }

  .catalogue-product .product-image.fly-fishing {
    background: image-url('bartender.jpg');
    background-size: cover;
  }
}

.testimonials {
  border-bottom: 1px solid #ddd;
  background: #f7f7f7;
  padding-bottom: 30px;

  h2 {
    margin: 40px 0;
    font-weight: 400;
    color: #333;
    font-family: "Lato";
    text-decoration: uppercase;
    letter-spacing: 2px;
    font-size: 28px;
  }

  .centered-text {
    text-align: center;
  }

  .quote {
    background: #fff;
    padding: 15px 20px 5px 15px;
    border-radius: 5px;
    margin-bottom: 30px;
    color: #7A7D7F;
    min-height: 190px;
    p {
      font-size: 20px;
    }
  }
  .quote:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 18px 0 18px;
    border-color: #fff transparent transparent transparent;
    position: relative;
    top: 37px;
    left: 20px;
  }

  .student {
    margin-left: 25px;
    margin-bottom: 80px;
  }
  .student .photo {
    background-color: #ccc;
    background-size: cover;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
  }

  .photo.jerome {
    background: image-url('jerome.jpg');
    background-size: cover;
  }

  .photo.katie {
    background: image-url('katie.png');
    background-size: cover;
  }

  .photo.jonathan {
    background: image-url('jonathan.png');
    background-size: cover;
  }

  .student p {
    position: relative;
    top: 5px;
    text-transform: uppercase;
  }
  .student p:nth-child(2) {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
  }
  .student p:nth-child(3) {
    font-size: 14px;
    color: #777;
  }
}

.get-started {
  text-align: center;
  padding: 30px;

  h1 {
    color: #44555F;
    font-family: "Lato", sans-serif;
    font-size: 20px;
  }

  h3 {
    color: #B6B7B8;
    padding: 10px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
  }

  button {
    margin: 10px 0;
    background: #3D938C;
    border: 1px solid #133734;
    border-radius: 3px;
  }

}

@media only screen and (max-width: 40em) {
  #large-header {
    height: 570px !important;
    max-height: inherit !important;
  }

  .dark-overlay {
    padding: 20px 0;
  }

  .video-modal, .email-modal {
    width: 100%;

    .video {
      float: none;
    }
  }

  .box-list .whats-in-the-box {
    svg {
      display: none;
    }

    ul li {
      height: 220px;
    }

    .box-item-wrapper {
      padding: 20px 0;
    }
  }
  footer {
    height: 420px !important;
  }
}