/* Header */
#large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-position: center center !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  z-index: 1;
}

#large-header {
  background: image-url("hero.jpg");
}