@import 'mixins';
@import 'fonts';

.zig-zag {
  position: relative;
  width: 200px;
  height: 0px;
  margin-top: 5px;
  padding: 5px;
  background: #fff;
}

.zig-zag:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #9AA4B1 75%, #9AA4B1), linear-gradient(225deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #9AA4B1 75%, #b6b5eb), linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #9AA4B1 75%, #9AA4B1), linear-gradient(315deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #9AA4B1 75%, #9AA4B1);
  background-position: 0.5em 0.5em, 0.5em 0.5em, 0 0.5em, 0 0.5em;
  background-size: 1em 1em;
  left: 0;
  top: -1em;
  height: 1em;
  width: 100%;
}

.product-page {

  .product-hero-wrap {
    background-image: linear-gradient(-179deg, #EEEFEA 0%, #EAEBE5 82%, #E5E6E0 100%);
  }

  .product-hero {
    height: 515px;
  }

  .product-hero-image {
    background: image-url('product/tea-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-position-y: 50%;
  }

  .product-hero-info-wrap {
    padding: 40px 0;
  }

  .product-hero-info {
    background: #fff;
    border-readius: 3px;
    height: 100%;
    border-radius: 4px;
    padding: 15px;
  }

  .product-hero-info h1 {
    font-family: "Brandon-Grotesque";
    text-transform: uppercase;
    font-size: 24px;
    color: #303030;
  }

  .product-variant {
    background: #fff;
    border: 1px solid #eee;
    padding: 5px 5px 5px 15px;
    margin: 15px 0;
    position: relative;
    cursor: pointer;
    border-radius: 4px;

    span {
      display: block;
      font-family: "Brandon-Grotesque";
      padding: 7px 17px 0 17px;
      float: left;
      font-size: 15px;
      color: #7D7D7D;
    }

    .variant-description {
      font-size: 12px;
      color: #B6B6B6;
      padding-top: 3px;
      padding-bottom: 3px;
    }

    input {
      @include vertical-align;
      position: absolute;
    }

    .variant-info {
      float: left;
      width: 200px;
    }

    .price {
      @include vertical-align;
      position: absolute;
      font-size: 20px;
      padding: 20px 30px 20px 0;
    }

    .input-wrapper {
      height: 55px;
      float: left;
      position: relative;
      width: 15px;
    }

    .price-wrapper {
      height: 55px;
      width: 60px;
      float: right;
      position: relative;
    }
  }

  .product-hero-info .check-out {
    outline: none;
    background: #000;
    border-radius: 0;
    color: #fff;
    width: 100%;
  }

  .about-this-box {
    padding: 40px 0;
  }

  .about-this-box-description {
    padding: 0 20px;

    h2 {
      font-family: $lato;
      font-size: 32px;
      color: #324141;
      line-height: 42px;
      letter-spacing: 1px;
      font-family: ProximaNova-Bold;
    }

    .sub-header {
      font-family: $lato;
      font-size: 16px;
      color: #9FAEAE;
      line-height: 27px;
    }

    blockquote {
      font-family: Adelle-Italic;
      font-size: 15px;
      color: #959595;
      line-height: 26px;
      letter-spacing: 0px;
    }

    p.description {
      font-family: Adelle-Light;
      font-size: 15px;
      color: #454545;
      line-height: 26px;
      letter-spacing: 0px;
    }
  }

  .about-this-box-image {
    height: 470px;
    background: image-url('product/matcha-set.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .large-product-image {
    height: 500px;
    background: image-url('product/large-set.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .syllabus {
    border-bottom: 1px solid #E2E2E2;
    padding: 40px;
  }

  .syllabus-description {

    h2 {
      font-family: $lato;
      font-size: 32px;
      color: #324141;
      line-height: 42px;
      letter-spacing: 1px;
      font-family: ProximaNova-Bold;
    }

    .sub-header {
      font-family: $lato;
      font-size: 16px;
      color: #9FAEAE;
      line-height: 27px;
    }

    blockquote {
      font-family: Adelle-Italic;
      font-size: 15px;
      color: #959595;
      line-height: 26px;
      letter-spacing: 0px;
    }

    p.description {
      font-family: Adelle-Light;
      font-size: 15px;
      color: #454545;
      line-height: 26px;
      letter-spacing: 0px;
    }
  }

  .syllabus-lessons {

  }

  .syllabus-lessons ul {
    padding-top: 40px;
  }

  .syllabus-lessons li {
    font-family: $lato;
    font-size: 14px;
    color: #324141;
    line-height: 27px;
    border-bottom: 1px solid #eee;
    padding: 12px 0 12px 38px;
    position: relative;

    .play-button {
      position: absolute;
      left: 0;
      font-size: 24px;
    }

    .play-button i {
      color: #CACACA;
    }

    span {
      position: absolute;
      right: 0;
      background: #203C6E;
      color: #fff;
      padding: 1px 5px;
      border-radius: 4px;
      font-size: 11px;
      cursor: pointer;
    }
  }

  .ingredients {
    padding: 40px;
  }

  .ingredients img {
    height: 150px;
    width: 150px;
    float: left;
    padding-right: 20px;
  }

  .ingredients h1 {
    font-family: ProximaNova-Bold;
    font-size: 32px;
    color: #324141;
    line-height: 42px;
    letter-spacing: 1px;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .ingredient {
    padding: 20px 50px 20px 0;
  }

  .ingredient:nth-child(2n+1) {
    padding-left: 20px;
  }

  .ingredient h3 {
    font-family: ProximaNova-Semibold;
    font-size: 18px;
    color: #191919;
    line-height: 21px;
    letter-spacing: 0px;
  }

  .ingredient p {
    font-family: ProximaNova-Regular;
    font-size: 16px;
    color: #5A5A5A;
    line-height: 25px;
  }

  .sponsor {
    height: 400px;
    background: image-url('product/matcha-bar.png');
    background-size: cover;
  }

  .reviews {
    min-height: 400px;
  }


}