// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-page {
  background: #fff;

  .row {
    min-height: 400px;
  }

  .product-hero {
    padding: 20px 0;
    border-top: 1px solid #333;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #1B655F;
    // background-image: image-url("josh-green-flipped.png");
    background-image: image-url("table.jpg");
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.1),
          rgba(0, 0, 0, 0.5)
        ),
        /* bottom, image */
        image-url('table.jpg');
    background-position-x: 90%;
    background-position-y: 80%;
    min-height: inherit;
    padding: 42px 0;
  }

  .product-gallery {
    display: none;

    .video {
      height: 300px;
      background: #E4E4E4;
    }

    ul {
      list-style: none;
      margin: 0;
    }

    li {
      height: 78px;
      width: 78px;
      float: left;
      margin: 10px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    img {
      height: 100%;
      width: 100%;
    }

  }

  .product-info {
    position: relative;

    .product-info-inner {
      background: #fff;
      position: relative;
      padding: 10px 20px;
    }

    h1, h3, p {
      font-size: 2em;
      color: #2E3133;
      font-weight: 400;
      font-family: "Raleway";
      font-size: 32px;
      letter-spacing: 1px;
    }

    h3 {
      font-size: 1em;
    }

    p {
      color: #969C9D;
      font-size: .85em;
      font-family: "Lato";
      font-weight: 300;
      line-height: 25px;
    }

    ul {
      margin-left: 0;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      min-height: 30px;
      list-style-type: disc;
      padding-left: 10px;
    }

    ul li {
      color: #969C9D;
      font-size: .85em;
      font-family: "Lato";
      font-weight: 300;
      line-height: 25px;
      float: left;
      margin: 6px;
      width: 47%;
    }

    input {
      background: #5AB8EC;
      color: #fff;
      outline: none;
      padding: 20px 50px;
      font-size: 14px;
      border: none;
      border-radius: 4px;
      position: absolute;
      top: -7px;
      right: 16px;
    }
  }

}