<!-- Admin Toolbar -->
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <div id="admin-bar" class="clearfix">
      <ul>
        <li class="nav-left">Welcome, <%= current_user.email %></li>
        <li class="nav-right"><%= link_to 'Admin', '/admin' %></li>
        <li class="nav-right"><%= link_to 'New Product', new_product_path %></li>
        <li class="nav-right"><%= link_to 'Sync Orders', sync_orders_path %></li>
      </ul>
    </div>
  <% end %>
<% end %>