<footer class="clearfix">
  <div class="row">
    <div class="large-12 columns">
      <div class="large-3 columns">
        <ul>
          <li class="title">About Us</li>
          <li>Investors</li>
          <li>Our Team</li>
          <li>Upcoming Boxes</li>
          <li>The Blog</li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul>
          <li class="title">About Us</li>
          <li>Investors</li>
          <li>Our Team</li>
          <li>Upcoming Boxes</li>
          <li>The Blog</li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul>
          <li class="title">About Us</li>
          <li>Investors</li>
          <li>Our Team</li>
          <li>Upcoming Boxes</li>
          <li>The Blog</li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul>
          <li class="title">About Us</li>
          <li>Investors</li>
          <li>Our Team</li>
          <li>Upcoming Boxes</li>
          <li>The Blog</li>
        </ul>
      </div>
    </div>
  </div>
</footer>