<footer class="clearfix">
  <div class="row">
    <div class="large-12 columns">
      <div class="large-3 columns">
        <ul>
          <li class="title">Bonsai Boxes</li>
          <li><a href="/products/coffee-box">Coffee Box</a></li>
          <li><a href="/products">Honey Box</a></li>
          <li><a href="/products">Tea Box</a></li>
          <li><a href="/products">Mixology Box</a></li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul>
          <li class="title">About Us</li>
          <li><a href="/mission">Mission</a></li>
          <li><a href="/team">Our Team</a></li>
          <li><a href="/products">Boxes</a></li>
          <li><a href="/dashboard">Account</a></li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul>
          <li class="title">Contact Us</li>
          <li><a href="mailto://hi@trybonsai.com"></a></li>
          <li><a href="twitter.com/try_bonsai">Twitter</a></li>
          <li><a href="http://instagram.com/try_bonsai">Instagram</a></li>
          <li>(917) 408-3372</li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul>
          <li class="title">Boring Stuff</li>
          <li>Copyright 2014</li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Legal Info</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>