<footer class="clearfix">
  <div class="row">
    <div class="large-12 columns">
      <div class="large-3 columns">
        <ul>
          <li class="title">Bonsai Boxes</li>
          <li><a href="/products/coffee-box">Coffee Box</a></li>
          <li>Honey Box</li>
          <li>Tea Box</li>
          <li>Mixology Box</li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul>
          <li class="title">About Us</li>
          <li>Mission</li>
          <li>Our Team</li>
          <li>Boxes</li>
          <li>Account</li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul>
          <li class="title">Contact Us</li>
          <li><a href="mailto://hi@trybonsai.com"></a></li>
          <li><a href="twitter.com/try_bonsai">Twitter</a></li>
          <li><a href="http://instagram.com/try_bonsai">Instagram</a></li>
          <li>(917) 408-3372</li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul>
          <li class="title">Boring Stuff</li>
          <li>Copyright 2014</li>
          <li>Terms of Service</li>
          <li>Legal Info</li>
          <li>Company Profile</li>
        </ul>
      </div>
    </div>
  </div>
</footer>