<footer class="clearfix">
  <div class="row">
    <div class="large-12 columns">
      <div class="large-3 columns">
        <ul>
          <li class="title">Bonsai Boxes</li>
          <li><a href="/products/coffee-box" target="_blank">Coffee Box</a></li>
          <li><a href="/products" target="_blank">Honey Box</a></li>
          <li><a href="/products" target="_blank">Tea Box</a></li>
          <li><a href="/products" target="_blank">Mixology Box</a></li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul>
          <li class="title">About Us</li>
          <li><a href="/mission" target="_blank">Mission</a></li>
          <li><a href="/team" target="_blank">Our Team</a></li>
          <li><a href="/products" target="_blank">Boxes</a></li>
          <li><a href="/dashboard" target="_blank">Account</a></li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul>
          <li class="title">Contact Us</li>
          <li><a href="mailto://hi@trybonsai.com"></a></li>
          <li><a href="twitter.com/try_bonsai" target="_blank">Twitter</a></li>
          <li><a href="http://instagram.com/try_bonsai" target="_blank">Instagram</a></li>
          <li>(917) 408-3372</li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul>
          <li class="title">Boring Stuff</li>
          <li>Copyright 2014</li>
          <li><a href="/terms">Terms of Service</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="/refund">Refund Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>