<button class="md-trigger" data-modal="modal-3">Fade in &amp; Scale</button>

<div class="md-modal md-effect-3" id="modal-3">
  <div class="md-content">
    <h3>Create an Account</h3>
    <h4>It takes less than a minute</h4>
    <div>
      <form>
        <div class="row">
          <div class="large-6 small-6 columns">
            <label><span>First Name</span>
              <input type="text" placeholder="Raymond"/>
            </label>
          </div>
          <div class="large-6 small-6 columns">
            <label><span>Last Name</span>
              <input type="text" placeholder="Reddington"/>
            </label>
          </div>
          <div class="large-12 small-12 columns">
            <label><span>Email Address</span>
              <input type="text" placeholder="raymond@gmail.com"/>
            </label>
          </div>
          <div class="large-12 small-12 columns">
            <label><span>Invite Code</span>
              <input type="text" placeholder="3141592653"/>
            </label>
          </div>
          <div class="large-6 small-6 columns">
            <label><span>Password</span>
              <input type="text" placeholder="Password (min 8 characters)"/>
            </label>
          </div>
          <div class="large-6 small-6 columns">
            <label><span>Confirm Password</span>
              <input type="text" placeholder="Confirm Password"/>
            </label>
          </div>
        </div>
      </form>
      <i class="md-close"></i>
      <button class="twitter">Sign in with Twitter</button>
      <%# button_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
      <button>Create Account</button>
      <p>Have an account? <a href="#">Sign in</a></p>
    </div>
  </div>
</div>

<div class="md-overlay"></div><!-- the overlay element -->