<div class="nav-wrapper">
  <nav class="nav-collapse" id="top-nav">
    <ul class="clearfix">
      <li class="nav-left"><%= link_to 'Mission', root_path %></li>
      <li class="nav-left"><%= link_to 'Team', page_path('about') %></li>
      <li class="nav-left"><%= link_to 'Boxes', products_path %></li>
      <%= render 'layouts/navigation_links' %>
    </ul>
  </nav>
  <a href="/">
    <div class="logo">
      <span>Bonsai</span>
    </div>
  </a>
</div>
