<!-- Secondary Nav -->
  <div class="cd-secondary-nav">
    <a href="#0" class="cd-secondary-nav-trigger">Menu<span></span></a> <!-- button visible on small devices -->
    <nav>
      <ul>
        <li>
          <a href="#ingredients">
            <b>Ingredients</b>
            <span></span>
          </a>
        </li>
        <li>
          <a href="#preview-video">
            <b>Video</b>
            <span></span>
          </a>
        </li>
        <li>
          <a href="#instructor">
            <b>Instructor</b>
            <span></span>
          </a>
        </li>
        <li>
          <a href="#syllabus">
            <b>Syllabus</b>
            <span></span>
          </a>
        </li>
        <li>
          <a href="#photo-grid">
            <b>Photos</b>
            <span></span>
          </a>
        </li>
        <li>
          <a href="#reviews">
            <b>Reviews</b>
            <span></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>